* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.header-logo {
  width: 200px;
}
.icon-red {
  font-size: 25px;
  padding: 10px;
}
.button-gen {
  font-weight: bold;
}
.card-perfil {
  background-color: transparent;
  border: none;
}
.card-perfil-img {
  border-radius: 160px;
  border-style: solid;
  border-color: #fff;
}
@media (max-width: 320px) {
  .card-perfil-img {
    border-radius: 160px;
    border-style: solid;
    border-color: #fff;
    width: 130px;
    height: 130px;
  }
  .card-name {
    font-size: 14px;
  }
}
.page-footer {
  background-color: #1f1f1f;
}

.footer-copyright {
  background-color: #1a1a1a;
}

.logo-modal-sub {
  width: 60px;
  margin-left: auto;
}
